{% extends 'main.html' %}

{% block content %}
    {% if page == 'login' %}
        <form method="POST" action="">
            {% if messages %}
                <ul class="messages text-danger">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% csrf_token %}
            <div class="mb-2">
                <label> Username:</label>
                <input name="username">
            </div>
            <div class="mb-2">
                <label> Password:</label>
                <input name="password">
            </div>
            <input type="submit" value="Login">
            <p> Haven't signed up yet?</p>
            <a href="{% url 'register' %}"> Sign Up </a>
        </form>
    {% else %}
        <form method="POST" action="">
            {% if messages %}
                <ul class="messages text-danger">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% csrf_token %}
            {{ register_form.as_div }}
            <br>
            <input type="submit" value="Register">
         <p> Already have an account?</p>
            <a href="{% url 'login' %}"> Login here  </a>
        </form>
    {% endif %}

{% endblock %}